.hero-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.bannerContent.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 10;
  padding: 2rem 2rem;
  width: 80%;
}

.banner {
  background-image: url(../../Images/banner.png);
  width: 100%;
  background-size: cover;
  text-align: center;
  padding: 7rem 10rem;
}

.bannerLogo {
  background-color: #0000005c;
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
}

.bannerHeading {
  font-family: "Dancing Script", cursive;
  color: red;
  text-shadow: 2px 2px 5px #d4af3780;
  font-size: 5rem;
  margin-top: 2rem;
}

.bannerSubHeading {
  background: #d4af37;
  padding: 1rem;
  border-radius: 1rem;
}

.fixedbutton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .bannerLogo .logo1 {
    width: 50%;
  }

  .bannerLogo .logo2 {
    width: 100%;
  }

  .bannerHeading {
    font-size: 3rem;
  }

  .bannerSubHeading {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .banner {
    padding: 0;
  }

  .hero-slider {
    display: flex;
    justify-content: center;
  }

  .bannerContent.hero {
    position: relative;
    transform: none;
    padding: 1rem;
    top: 0;
    left: 0;
  }

  .bannerHeading {
    font-size: 3rem;
  }

  .bannerSubHeading {
    font-size: 1rem;
  }
}
